<?xml version="1.0" encoding="utf-8"?>
<!--Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite http://go.microsoft.com/fwlink/?LinkId=169433 -->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483644" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="FolderPath" value="uploads" />
		<add key="cdnPath" value="http://winvmd01:84" />
		<add key="HomeURL" value="http://dev.menu.grupopinsa.erp/Modulos/MenuModulos.aspx" />
		<add key="notificacionesRestServPath" value="http://winvmd01:82" />
		<add key="notificacionesSignalRPath" value="http://winvmd01:8280/signalr" />
		<!--PARAMETROS PARA COMPARTIR SESION ENTRE SUBDOMINIOS-->
		<add key="NombreCacheEnsamblados" value="EnsambladosAplicacion" />
		<add key="Id_Modulo" value="15" />
		<add key="NombreAplicacionCompartida" value="grupopinsaerp" />
		<add key="DominioBase" value="localhost" />
		<!--IBM INTEGRATION BUSS DEV-->
		<add key="DominioIIB" value="http://vm_w16busqas.pinsa.com:7080"/>
		<!--CONFIGURACIÓN BASE PARA USO DE ORACLE CLOUD WS SOA/REST-->
		<add key="OracleCloudEndPoint" value="https://ekcn-test.fa.us6.oraclecloud.com:443"/>
		<add key="OracleCloudUser" value="integraciones_legados"/>
		<add key="OracleCloudPassword" value="Pinsa12345"/>
		<!--CONFIGURACIÓN BASE PARA USO DE ORACLE CLOUD WS SOA REPORTS [-->
		<add key="OracleCloudEndPointSOAPReport" value="/xmlpserver/services/ExternalReportWSSService"/>
		<!--CONFIGURACIÓN INTERFAZ RECEPCIONAR_ASN - ORACLE CLOUD WS SOA/REST-->
		<add key="OracleCloudEndPointRESTInventoryCreatePickTransactions" value="/fscmRestApi/resources/11.13.18.05/pickTransactions"/>
		<add key="OracleCloudEndPointRESTInventoryOrganizations" value="/fscmRestApi/resources/11.13.18.05/inventoryOrganizations"/>
		<!--CONFIGURACIÓN INTERFAZ CALCULO_TARIFAS_REPRESENTANTES - ORACLE CLOUD WS SOA/REST-->
		<add key="OracleCloudEndPointSOAPProcurementPurchaseOrderV2" value="/fscmService/PurchaseOrderServiceV2?WSDL"/>
		<add key="OracleCloudEndPointSOAPFinancialsAccountCombinations" value="/fscmService/AccountCombinationService?WSDL"/>
		<add key="OracleCloudEndPointRESTProcurementGetOneSupplier" value="/fscmRestApi/resources/11.13.18.05/suppliers?onlyData=true&amp;q=Supplier={Supplier}&amp;fields=SupplierId"/>
		<add key="OracleCloudEndPointRESTProcurementGetOneSupplierSite" value="/fscmRestApi/resources/11.13.18.05/suppliers/{SupplierID}/child/sites?onlyData=true&amp;q=ProcurementBU={ProcurementBU}&amp;fields=SupplierSite"/>
		<add key="OracleCloudEndPointRESTProcurementGetOneProcurementAgent" value="/fscmRestApi/resources/11.13.18.05/procurementAgents?onlyData=true&amp;q=AgentEmail={AgentEmail};ProcurementBUId={ProcurementBUId}&amp;fields=AgentId"/>
		<add key="OracleCloudEndPointRESTInventoryGetOneIntentoyOrganization" value="/fscmRestApi/resources/11.13.18.05/inventoryOrganizations?onlyData=true&amp;q=OrganizationCode={OrganizationCode}&amp;fields=LocationCode,LegalEntityId"/>
	</appSettings>
	<location path="Inicio.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.web>
		<!--<pages viewStateEncryptionMode="Never" enableEventValidation="false"></pages>-->
		<!--Servidor en donde se alojaran las sesiones-->
		<sessionState mode="SQLServer" timeout="100" cookieless="false" cookieName="Session_grupopinsa.erp" sqlConnectionString="  Data source=10.50.3.25\GPOPINSA_ERP;User ID=usuarioerp; Password=pinsa123;" allowCustomSqlDatabase="true"></sessionState>
		<authentication mode="Forms">
			<forms loginUrl="http://localhost:51015/Inicio.aspx" requireSSL="false" name="GRUPOPINSA.ERP.ASPXFORMSAUTH" defaultUrl="http://localhost:51015/Inicio.aspx" enableCrossAppRedirects="true" timeout="100" path="/"></forms>
		</authentication>
		<authorization>
			<deny users="?" />
			<allow users="*" />
		</authorization>
		<!--Machine key para compartir la misma sesion entre aplicaciones-->
		<machineKey validationKey="64D9F1F47A0AC8C0EA8A79A4ED97EC6F9EFBC47228F3BFD5309C42A14F707E80D5FD3BA2DBB653E72CB13B673F075FC8C6F82D45270BD1942080D87F874BB6CC" decryptionKey="ED076B8D870304D110484B3A124C3135684FAF553F6EF9C29B5EB808D66F08D4" validation="SHA1" />
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Data.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Printing.v14.2.Core, Version=14.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="DevExpress.Web.ASPxThemes.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.RichEdit.v14.2.Core, Version=14.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<!--<add assembly="DevExpress.Web.ASPxScheduler.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraScheduler.v14.2.Core, Version=14.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />-->
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5" />
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</httpModules>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
		</httpHandlers>
	</system.web>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="ComportamientoInspectorPeticionExtension">
					<ComportamientoInspectorPeticionExtension />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="ComportamientoInspectorPeticionExtension" type="ExtensionesServiciosWCF.Extensiones.ComportamientoInspectorPeticionExtension, ExtensionesServiciosWCF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</behaviorExtensions>
		</extensions>
		<bindings>
			<basicHttpBinding>
				<binding name="endPointSOAPSeguridadModulosERPService" maxReceivedMessageSize="2147483647" />
				<binding name="enPointSOAPGrupoPinsaService" maxReceivedMessageSize="2147483647" />
				<binding name="enPointSOAPLogisticaService" maxReceivedMessageSize="2147483647" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://winvmd01:82/SeguridadERP/Servicios/SeguridadModulosERPService.svc/soap"
			  behaviorConfiguration="ComportamientoInspectorPeticionExtension"
			  binding="basicHttpBinding" bindingConfiguration="endPointSOAPSeguridadModulosERPService"
			  contract="SeguridadERPSOA.ISeguridadModulosERPService" name="endPointSOAPSeguridadModulosERPService" />
			<endpoint address="http://winvmd01:82/GrupoPinsa/Servicios/GrupoPinsaService.svc/soap"
			  behaviorConfiguration="ComportamientoInspectorPeticionExtension"
			  binding="basicHttpBinding" bindingConfiguration="enPointSOAPGrupoPinsaService"
			  contract="GrupoPinsaSOA.GrupoPinsaWCFAPPServiciosGrupoPinsaService"
			  name="enPointSOAPGrupoPinsaService" />
			<endpoint address="http://winvmd01:82/Logistica/Servicios/LogisticaService.svc/soap"
			  behaviorConfiguration="ComportamientoInspectorPeticionExtension"
			  binding="basicHttpBinding" bindingConfiguration="enPointSOAPLogisticaService"
			  contract="LogisticaSOA.LogisticaWCFAPPServicios" name="enPointSOAPLogisticaService" />
		</client>
	</system.serviceModel>
	<system.webServer>
		<modules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
			<!--Modulo http para sesiones compartidas-->
			<add name="ModuloSesionCompartida" type="ModuloSesionCompartidaSubdominios.ModuloSesionCompartida, ModuloSesionCompartidaSubdominios, Version=1.0.0.0, Culture=neutral" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
		</handlers>
	</system.webServer>
	<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
		<settings doctypeMode="Xhtml" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" />
		<errors callbackErrorRedirectUrl="" />
	</devExpress>
</configuration>